labels:
 team: trading-app
 environment: dev
parent: ${parent_folder_id}
services:
- container.googleapis.com
- storage.googleapis.com
- compute.googleapis.com
- monitoring.googleapis.com
- privateca.googleapis.com
- cloudresourcemanager.googleapis.com
- cloudkms.googleapis.com
- servicenetworking.googleapis.com
- secretmanager.googleapis.com
- serviceusage.googleapis.com

service_accounts:
  customer-bb-be:
    iam_project_roles:
    - roles/logging.logWriter
    - roles/monitoring.metricWriter
  customer-bb-fe:
    iam_project_roles:
      - roles/compute.networkUser

shared_vpc_service_config:
  host_project: billing-xx-0
  service_identity_iam:
    # "roles/vpcaccess.user":
    # - cloudrun
    "roles/container.hostServiceAgentUser":
    - container-engine
  service_identity_subnet_iam:
    europe-west1/prod-default-ew1:
    - cloudservices
    - container-engine
  network_subnet_users:
    europe-west1/prod-default-ew1:
    - group:gcp-network-admins@xergyinc.com

billing_budgets:
- project-budget

workload_identity_provider:
  gh-provider:
    attribute_condition: "attribute.repository_owner==\"mayankagarwal19911\""
    issuer: github
    custom_settings:
      issuer_uri:
      audiences:
      jwks_json:

lz_repo:
  name: mayankagarwal19911/validate-gcp-oidc-2
  type: github
  branch: main
  identity_provider: gh-provider # should match with the provider defined above
